/*タブレット向け*/

@media all and (max-width:900px){
    :root{
        --site-width:850px;
    }
    .about{
        max-width: var(--site-width);
    }
    .work-wrapper{
        max-width: var(--site-width);
    }
    .about{
        max-width: var(--site-width);
    }
    .header-container a{
        margin-right:25px;
    }
    .main-container h1{
        font-size:40px;
    }
    .main-container h2{
        font-size:30px;
    }
}

/*スマホ向け*/

@media all and (max-width:400px){
    .top_icon h3{
        font-size:16px;
    }
    .top_menu a{
        font-size:14px;
    }
    .header-container a{
        margin-right:15px;
    }
    .main-container h1{
        font-size:28px;
    }
    .main-container h2{
        font-size:16px;
    }
    .works{
        justify-content: center;
    }
    .work{
        width:254px;
    }
    .work img{
        height:150px;
    }
    .work p{
        text-align: center;
    }
    .about h2{
        margin-top:80px;
    }
    .about__detail li{
        width:100%;
        text-align: center;
    }
    .about__detail{
        justify-content: center;
    }
    .about__detail p{
        text-align: center;
    }
}

