/*タブレット向け*/

@media all and (max-width:900px){
    .header-container a{
        margin-right:25px;
    }
    .main-container h1{
        font-size:40px;
    }
    
}

/*スマホ向け*/

@media all and (max-width:400px){
    .header-container a{
        margin-right:10px;
    }
    .main-container h1{
        font-size:28px;
    }
    works{
        justify-content: center;
    }
    .work p{
        text-align: center;
    }
    .about__detail li{
        width:100%;
    }
    .about__detail{
        justify-content: center;
    }
    .about__detail p{
        text-align: center;
    }
}

