@charset "utf-8";

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
ul{
    list-style:none;
}

:root{
    --site-width:1140px;
    font-family:'ヒラギノ角ゴ';
}

/*へダーのクラス*/
header{
    margin: 0 auto;
    height: 50px;
    background-color: dimgrey;
    color:white;
}
.header-container{
    height: 50px;
    margin: 0 auto;
    max-width: var(--site-width);
    display:flex;
    justify-content: space-between;
}
.top_icon{
    display:flex;
    align-items: center;
}
.top_menu{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.header-container h3{
    color:white;
    margin-left:15px;
}
.header-container a{
    color:white;
    margin-right:50px;
}

/*メインボディのクラス*/
.main-wrapper{
    height:100vh;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("port-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
}
.main-container{
    color:white;
    margin: 0 auto;
    text-align: center;
}
.main-container h1{
    font-size:50px;
    margin-bottom:5px;
    text-shadow: 3px 3px 5px black;
}
.main-container h2{
    text-shadow:2px 2px 4px black;
}
.btn a{
    text-decoration: none;
    color:white;
    text-shadow: 1px 1px 3px black;
    margin-top:20px;
    padding:10px 20px 10px 20px;
    border: solid 1px white;
    border-radius: 15px;
}
.btn a:hover{
    color:black;
    background-color: rgb(255, 255, 255);
    text-shadow: none;
    border: solid 1px black;
    transition:0.5s;
    opacity: 0.8;
}


/*WORKSのクラス*/
.work-wrapper{
    margin-top:50px;
    max-width: var(--site-width);
    margin: 0 auto;
    text-align:center;
    margin-top:50px;
}
.work-wrapper h1{
    display: inline-block;
    padding-bottom:10px;
    border-bottom: solid 3px rgb(68, 176, 158);
    margin-bottom: 40px;
    letter-spacing: 5px;
}
.works h2{
    display: inline-block;
    padding-bottom:10px;
    border-bottom: solid 3px rgb(68, 176, 158);
    margin-top: 20px;
    margin-bottom: 20px;
}
.works{
    margin:0 auto;
    margin-bottom:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work{
    width:320px;
    background-color: white;
    border:solid 1px  rgb(177, 175, 175);
    border-radius: 5px;
    padding-bottom:10px;
    margin:0 20px;
    margin-bottom: 30px;
}
.work:hover{
    background-color: white;
    border:solid 1px  rgb(177, 175, 175);
    transform:translateY(-5px);
    box-shadow:0 0 5px black;
    transition:0.3s;
}
.work img{
    width:100%;
    height:200px;
    border-radius: 5px;
    border:solid 1px  rgb(0, 0, 0, 0.1);
}
.work h3{
    margin-top:30px;
    margin-bottom:30px;
    line-height:0;
    color: black;
}
.work p{
    margin:0 auto;
    width:90%;
    color: black;
    text-align: left;
}

.outcomes h2{
    display: inline-block;
    padding-bottom:10px;
    border-bottom: solid 3px rgb(68, 176, 158);
    margin-top: 20px;
    margin-bottom: 20px;
}
.outcomes{
    margin:0 auto;
    margin-bottom:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.outcome{
    width:80%;
    background-color:  rgb(243, 243, 243);
    border:solid 1px  rgb(177, 175, 175);
    border-radius: 20px;
    margin:0 10px;
    margin-bottom: 30px;
}
.outcome:hover{
    background-color: rgb(230, 230, 230);
    border:solid 1px  rgb(177, 175, 175);
    transform:translateY(-5px);
    box-shadow:0 0 5px black;
    transition:0.3s;
}
.outcome_content{
    display: flex;
    flex-wrap: wrap;
    height: 180px;
}
.oc_img{
    width:40%;
    height:180px;
    border-radius:10px;
}
.oc_title_explanation{
    width:60%;
    text-align: left;
}
.outcome img{
    width:auto;
    height:100%;
    padding:10px;
    border-radius:10px;
}
.outcome h3{
    margin-top:30px;
    margin-bottom:30px;
    color: black;
    width:90%;
}
.outcome p{
    color: black;
    width:90%;
}

/*About*/
.backColorAbout{
    background-color: rgb(232, 232, 232);
    border-top: solid 3px rgb(68, 176, 158);
}
.about{
    max-width: var(--site-width);
    margin:0 auto;
    padding-bottom:20px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about h2{
    display: inline-block;
    padding-bottom:10px;
    border-bottom: solid 1px rgb(68, 176, 158);
    margin-bottom: 20px;
    margin-top:80px;
}
.about h3{
    text-align: center;
}
.about__detail{
    list-style:none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about__detail li{
    width:30%;
}
.about__detail img{
    width:30%;
    border-radius: 100%;
    border: solid 1px rgb(208, 208, 208);
}

/*authorの設定*/
.about__author {
    text-align: left;
}
.about__author div{
    margin: 0 auto;
    width:100%;
}
.about__author img{
    display: block;
    margin:0 auto;
}
.about__author p{
    text-align: left;
}

/*本サイトについての設定*/
.about__site {
    text-align: left;
}
.about__site li{
    width:100%;
    text-align: left;
}
.about__detail p{
    text-align: left;
}

.about__site ul{
  margin: 0 auto;
  width:100%;
}
.textColor{
    font-weight: bold;
}
.twitter__site a{
    text-decoration: none;
    color:rgb(0, 162, 255);
}


/*footer*/
footer{
    text-align:center;
    background-color: rgb(88, 84, 84);
    height:50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer p{
    display: inline-block;
    padding:10px;
    color:white;
}
.twitter__footer a{
    text-decoration: none;
    color:white;
}
.twitter__footer i{
    color:rgb(0, 162, 255);
}
